html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

a.btn-social {
	height: 40px;
}

.body-container {
	height: 100%;
}

.main-image-row {
	background-color: #002266;
	height: 400px;
}

.signup-text {
	color: white;
	margin-top: 8%;
}

.social-media-login-text {
	color: white;
}

.phone-icon {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 2%;
}

.header-1 {
	font-size: 200%;
	color: white;
	margin-top: 3%;
	padding-right: 10%;

}

.signup-form-col {
	height: 100%;
	background: #00264d;
	margin: 0 auto;
	/*opacity: 0.5;*/
	/*background: linear-gradient(100deg, blue, white);*/
}

#email, #password {
	width: 75%;
	margin: 0 auto;
}

#email {
	margin-bottom: -20px;
}

#signup-btn {
	text-align: center;
	margin: 0 auto;
	width: 75%;
}

.header-logged-in-container {
	background-color: black;
}


