body, html {
	width: 100%;
	height: 100%;
}

.body-container {
	height: 100%;
}

.main-image-row {
	height: 50%;
}

.main-image-col {
	height: 100%;
	width: 100%;
	background-color: #275d8b;
}

.phone-icon {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 2%;
}

.header-1 {
	font-size: 200%;
	color: white;
	margin-top: 3%;
	padding-right: 10%;
}