<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>{% block title %}{% endblock title %}</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta property="og:title" content="">
    	<meta property="og:type" content="Data">
    	<meta property="og:description" content="">
    	<meta property="og:image" content="">
		<meta property="og:site_name" content="">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/app.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/bootstrap-social.css">
		<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
		<script src="/js/utils.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>    	
		<script src="https://checkout.stripe.com/checkout.js"></script>
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<script src="/angular/angular.min.js"></script>
		<script src="/angular/angular-route.min.js"></script>
		<script src="/js/app.js"></script>
		<script src="/js/controllers.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	
	</head>
	<body ng-app="respectRejectionApp" ng-controller="RootCtrl">
		<script>
		  	window.fbAsyncInit = function() {
		    	FB.init({
		      		appId      : '234623640313204',
		      		xfbml      : true,
		      		version    : 'v2.8'
		    	});
		    	FB.AppEvents.logPageView();
		  	};

			(function(d, s, id){
		    	var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
		   	}(document, 'script', 'facebook-jssdk'));
		</script>

		<div class="modal fade" id="login-error-modal">
	  		<div class="modal-dialog" role="document">
	    		<div class="modal-content">
	      			<div class="modal-header">
	        			<h5 class="modal-title">Login Error</h5>
	        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          				<span aria-hidden="true">&times;</span>
	        			</button>
	      			</div>
	      			<div class="modal-body">
	        			<p id="login-error-msg"></p>
	        			<strong><span id="login-error-email"></span></strong>
	      			</div>
	      			<div class="modal-footer" style="text-align: center;">
	        			<button type="button" class="btn btn-success" data-dismiss="modal" style="width: 50%">Got It!</button>
	      			</div>
	    		</div>
	  		</div>
		</div>

		<div class="modal fade" id="contact-modal">
	  		<div class="modal-dialog" role="document">
	    		<div class="modal-content">
	      			<div class="modal-header">
	        			<h1 class="modal-title text-center">Contact RespectRejection</h1>
	        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          				<span aria-hidden="true">&times;</span>
	        			</button>
	      			</div>
	      			<div class="modal-body text-center" style="">
	      				<label for="email-us" style="display: block;">Send us an email</label>
	        			<textarea id="email-us" class="" style="width: 75%"></textarea>
	      			</div>
	      			<div class="modal-footer" style="text-align: center;">
	        			<button type="button" class="btn btn-primary" data-dismiss="modal" style="width: 50%">Send</button>
	      			</div>
	    		</div>
	  		</div>
		</div>

		<div class="modal fade" id="about-modal">
	  		<div class="modal-dialog" role="document">
	    		<div class="modal-content">
	      			<div class="modal-header">
	        			<h3 class="modal-title">What is RespectRejection.appspot.com?</h3>
	        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          				<span aria-hidden="true">&times;</span>
	        			</button>
	      			</div>
	      			<div class="modal-body">
	      				<p class="lead">Respect Rejection is a site that allows you to purchase a phone number and customize your own rejection hotline. You maintain ownership of the number and when that horrible ugly person asks you for your number, you give them your own personal rejection hotline number that you made. Inspiration for this site came from my experience of being at bars and restaurants and seeing what waitresses and female bartenders have to deal with. That being said this site is just as equally made for men as it is women, but let's face it. Women have more to deal with.</p>
	      			</div>
	      			<div class="modal-footer" style="text-align: center;">
	        			<button type="button" class="btn btn-success" data-dismiss="modal" style="width: 50%">Done</button>
	      			</div>
	    		</div>
	  		</div>
		</div>

		<div class="modal fade" id="donate-modal">
	  		<div class="modal-dialog" role="document">
	    		<div class="modal-content">
	      			<div class="modal-header">
	        			<h3 class="modal-title text-center">Thanks for your contribution</h3>
	        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          				<span aria-hidden="true">&times;</span>
	        			</button>
	        			<div class="row text-center" style="margin-top: 2%">
							<span class="payment-errors"></span>									        				
	        			</div>
	      			</div>
	      			<div class="modal-body">
						<div class="row">
							<div class="col-md-6 text-right">
								<span>Card Number</span>
							</div>
							<div class="col-md-6 text-left">
						  		<input type="text" class="card-number" maxlength="16" size="15" data-stripe="number">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 text-right">
						  		<span>Expiration (MM/YY)</span>
						  	</div>
						  	<div class="col-md-6 text-left">
					  			<input type="text" class="card-expiry-month" size="6" maxlength="2" data-stripe="exp_month">
								<span> / </span>
								<input type="text" class="card-expiry-year" size="6" maxlength="2" data-stripe="exp_year">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 text-right">
								<span>CVC</span>
							</div>
							<div class="col-md-6 text-left">
						  		<input type="text" class="card-cvc" maxlength="3" size="15" data-stripe="cvc">
							</div>	
						</div>
						<div class="row">
							<div class="col-md-6 text-right">
								<span>Billing ZIP Code</span>
							</div>
							<div class="col-md-6 text-left">
							  	<input type="text" class="address_zip" maxlength="5" size="15" data-stripe="address_zip">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 text-right">
								<span>Donation Amount</span>
							</div>
							<div class="col-md-6 text-left">
								<input type="number" min="1" class="donation-amount" size="15" id="donation-amount">
							</div>
						</div>
	      			</div>

	      			<div class="modal-footer" style="text-align: center;">
	        			<button type="button" class="btn btn-success donate-btn" style="width: 40%" ng-click="handleDonation();">Donate</button>
	      				<button type="button" class="btn btn-danger" data-dismiss="modal" style="width: 40%">Cancel</button>
	      			</div>
	    		</div>
	  		</div>
		</div>
		<script>
			angular.element(document).ready(function() {
				$('#donate-modal').on('hidden.bs.modal', function () {
					// just here as a note that this runs after the bottom one
				});

				/* This event runs first then the one above when closing a specific modal. The one above waits for css to finish */
				$('#donate-modal').on('hide.bs.modal', function () {
  					angular.element(".payment-errors").html("");
				});
			});
		</script>		
	</body>
</html>